  html #ie_clearing {
    /* (en) Only a small help for debugging */
    /* (de) Nur eine kleine Hilfe zur Fehlersuche */
    position:static;

    /* (en) Make container visible in IE */
    /* (de) Container sichtbar machen im IE */
    display:block;

    /* (en) No fix possible in IE5.x, normal clearing used instead */
    /* (de) Kein Fix im IE5.x mÃ¶glich, daher normales Clearing */
    \clear:both;

    /* (en) forcing clearing-like behavior with a simple oversized container in IE6 & IE7*/
    /* (de) IE-Clearing mit 100%-DIV fÃ¼r IE6 bzw. Ã¼bergroÃŸem Container im IE7 */
    width: 100%;
    font-size:0px;
    margin: -2px 0 -1em 1px;
  }

  * html #ie_clearing { margin: -2px 0 -1em 0; }
  #col3_content {margin-bottom:-2px; }

  /* (en) avoid horizontal scrollbars in IE7 in borderless layouts because of negative margins */
  /* (de) Vermeidung horizontaler Scrollbalken bei randabfallenden Layouts im IE7 */
  html { margin-right: 1px; }
  * html { margin-right: 0 }

  /* (en) Bugfix: Essential for IE7 */
  /* (de) Bugfix: Notwendig im IE7 */
  #col3 { position:relative; }

  /*------------------------------------------------------------------------------------------------------*/

  /**
   * IE z-index-Fix
   * brings #col1 and #col2 in front of #col3
   *
   * @workaround
   * @affected   all IE
   * @css-for    all IE
   * @valid      yes
   */

  *+html #col3 { z-index: -1; }
  * html #col1, * html #col2 { z-index: 1; }
  * html #col3  { z-index:auto; }

  /*------------------------------------------------------------------------------------------------------*/

  /**
   * IE/Win Guillotine Bug
   * @see        http://www.positioniseverything.net/explorer/guillotine.html
   *
   * @workaround
   * @affected   IE 5.x/Win, IE6
   * @css-for    IE 5.x/Win, IE6
   * @valid      yes
   */

  * html body a, * html body a:hover { background-color: transparent; }

}

@media screen, projection
{
  /**
   * (en) IE-Adjustments for content columns and subtemplates
   * (de) IE-Anpassung fÃ¼r Spaltencontainer und Subtemplates
   *
   * Doubled Float-Margin Bug
   * @see        http://positioniseverything.net/explorer/doubled-margin.html
   *
   * @bugfix
   * @affected   IE 5.x/Win, IE6
   * @css-for    IE 5.x/Win, IE6, IE7
   * @valid      yes
   */
  #col1,  #col2 { display:inline; }

  .c50l, .c25l, .c33l, .c38l, .c66l, .c75l, .c62l,
  .c50r, .c25r, .c33r, .c38r, .c66r, .c75r, .c62r { display:inline; }

  /* Fix for: "Linking to anchors in elements within the containing block" Problem in IE5.x & IE 6.0 */
  * html .equalize, * html .equalize .subcolumns { overflow:visible; display:block; }
  .equalize, .equalize .subcolumns { overflow:hidden; display:block; }

  /* transform CSS tables back into floats */
  .equalize .c25l,.equalize .c33l,.equalize .c38l,.equalize .c50l,.equalize .c66l,.equalize .c75l,.equalize .c62l {
    float: left; display:inline;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
  }
  .equalize .c25r,.equalize .c33r,.equalize .c38r,.equalize .c50r,.equalize .c66r,.equalize .c75r,.equalize .c62r {
    float: right; margin-left: -5px; display:inline;
    padding-bottom: 32767px;
    margin-bottom: -32767px;
  }

  .no-ie-padding .c25l,.no-ie-padding .c33l,.no-ie-padding .c38l,.no-ie-padding .c50l,.no-ie-padding .c66l,.no-ie-padding .c75l,.no-ie-padding .c62l,
  .no-ie-padding .c25r,.no-ie-padding .c33r,.no-ie-padding .c38r,.no-ie-padding .c50r,.no-ie-padding .c66r,.no-ie-padding .c75r,.no-ie-padding .c62r {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  /*------------------------------------------------------------------------------------------------------*/

  /**
   * Internet Explorer and the Expanding Box Problem
   * @see http://www.positioniseverything.net/explorer/expandingboxbug.html
   *
   * @workaround
   * @affected   IE 5.x/Win, IE6
   * @css-for    IE 5.x/Win, IE6
   * @valid      yes
   */

  * html #col1_content,
  * html #col2_content,
  * html #col3_content { word-wrap: break-word; }

  /* trigger hasLayout to force containing content */
  .subc, .subcl, .subcr { height: 1%; }

  /* avoid growing widths */
  * html .subc,
  * html .subcl,
  * html .subcr { word-wrap: break-word; overflow:hidden;  }
}

@media print
{
  /**
   * (en) Avoid unneeded page breaks of #col3 content in print layout.
   * (de) Vermeiden von unnÃ¶tigen SeitenumbrÃ¼chen beim Ausdruck der Spalte #col3.
   *
   * @bugfix
   * @affected   IE7
   * @css-for    IE 5.x/Win, IE6, IE7
   * @valid      yes
   */

  #col3 { height: 1%; }
}
