/* Default CSS properties */
body{
	margin: 0;
	padding: 0;
	font-family: 'Muli', arial, serif;
	background: #eeeeee url(images/page_rendering.png) repeat-x 0 -100px;
	/* Don't ask me why.. */
	overflow-x: hidden;
/*  Google Font API properties
	font-size: 36px;
	font-style: italic;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
*/
}

#header{
	background: #002fa7 url(images/header_rendering.png) repeat-x 0 -100px;
	height: 155px;
	color: white;
}
#header #title{
	font-family: 'Raleway';
	font-size: 38px;
	font-weight: normal;
	text-shadow: 2px 2px 0px black;
	letter-spacing: 0.05em;
	word-spacing: 0.3em;
	position: relative;
	top: 30px;
	left: 250px;
/*
	-moz-transform: rotate(-1deg);  
	-webkit-transform: rotate(-1deg); 
*/
}

#header #title a{
	text-decoration: none;
	color: white;
}
#header .good {
	color: #ffa219;
	font-weight: 900;
}

#header #nav-steps {
	width: 980px;
	margin: 0 auto;
}
#header .onglet {
	float: right;
	padding: 10px;
	margin-right:10px;
	position: relative;
	top:76px;
	background: #ffa219 url(images/onglet_rendering.png) no-repeat 0 100%;
	border: 1px outset #444;
	border-bottom: 0;
	text-shadow: 2px 2px 1px #444;
	font-weight: bold;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	opacity:0.8;
	-moz-box-shadow: -1px -1px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: -1px -1px 4px rgba(0,0,0,0.4);
	box-shadow: -1px -1px 4px rgba(0,0,0,0.4);
	cursor: pointer;
}
#header .onglet:hover {
	opacity:1;
}
#page {
	width: 980px;
	margin: 0 auto;
}
#page #steps {
}
#page #steps h1 {
	font-weight: 600;
	border-bottom: 3px solid #002fa7;
	text-align: right;
	font-family: 'Raleway';
	color: #002fa7;
	text-shadow: 1px 1px white;
}
#footer {
	clear: both;
	width: 980px;
	font-size: 10px;
	color: grey;
	margin: 0 auto;
	text-align: center;
}
