/* Default CSS properties */
body{
	margin: 0;
	padding: 0;
	font-family: 'Muli', arial, serif;
	background: #eeeeee url(images/page_rendering.png) repeat-x 0 -100px;
	/* Don't ask me why.. */
	overflow-x: hidden;
/*  Google Font API properties
	font-size: 36px;
	font-style: italic;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
*/
}
input {
	border: 1px solid rgba(100, 100, 100, 0.5);
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 4px;
	text-shadow: 1px 1px 2px white;
	font-family: 'Muli';
}
input:hover {
	border: 1px solid rgba(100, 100, 100, 0.7);
	background-color: rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}
input:focus {
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}
.float-right {
	float:right;	
}
#header{
	background: #002fa7 url(images/header_rendering.png) repeat-x 0 -100px;
	height: 155px;
	color: white;
}
#header a {
	color: white;
	text-decoration: none;
}
#header #title{
	font-family: 'Raleway';
	font-size: 38px;
	font-weight: normal;
	text-shadow: 2px 2px 0px black;
	letter-spacing: 0.05em;
	word-spacing: 0.3em;
	position: relative;
	top: 30px;
	left: 250px;
/*
	-moz-transform: rotate(-1deg);  
	-webkit-transform: rotate(-1deg); 
*/
}

#header #title a{
	text-decoration: none;
	color: white;
}
#header .good {
	color: #ffa219;
	font-weight: 900;
}

#header #onglet-wrapper {
	width: 980px;
	margin: 0 auto;
}
#header #nav-steps {
	float:right;
}
#header #nav-login {
	float:right;
	margin-left:200px;
}

#header .onglet {
	float: right;
	padding: 10px;
	margin-right:3px;
	position: relative;
	top:76px;
	background: #ffa219 url(images/onglet_rendering.png) repeat-x 0 100%;
	border: 1px outset #444;
	border-bottom: 0;
	text-shadow: 1px 1px 1px #444;
	font-weight: bold;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	opacity:0.8;
	-moz-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
	box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
	cursor: pointer;
}
#header .onglet:hover {
	opacity:1;
}
#header #nav-login .onglet{
	background-color: rgba(50, 50, 50, 0.9);
}
#header #nav-steps .onglet{
	background-color: rgba(255, 162, 25, 0.9);
	display: none;/* Don't display the steps onglet by default.. */
}
#header #login {
	position: absolute;
	top:50%;
	left:50%;
	border: 5px solid rgba(170,170,170,0.4);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#page {
	width: 980px;
	margin: 30px auto;
}
#page #steps {
}
#page #steps h1 {
	font-weight: 600;
	border-bottom: 3px solid #002fa7;
	text-align: right;
	font-family: 'Raleway';
	color: #002fa7;
	text-shadow: 1px 1px white;
}

#footer {
	clear: both;
	border-top:1px solid white;
	padding-top:20px;
	background: #ddd;
	font-size: 10px;
	color: grey;
	height:100px;
}
#footer .nav {
	width: 400px;
	margin: 0 auto;
}
#footer .nav .item{
	text-decoration: none;
	color: grey;
	float:left;
	background-color: rgba(0,0,0,0.1);
	padding:2px 4px 2px 4px;
	margin:0;
	border-left:1px solid #aaa;
}
#footer .nav .item:hover{
	background-color: rgba(0,0,0,0.05);
}
#footer .nav .first{
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-left:0px solid grey;
}
#footer .nav .last{
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

