/* Default CSS properties */
body{
	margin: 0;
	padding: 0;
	font-family: 'Muli', arial, serif;
	background: #eeeeee url(images/page_rendering.png) repeat-x 0 -100px;
	/* Don't ask me why.. */
	overflow-x: hidden;
/*  Google Font API properties
	font-size: 36px;
	font-style: italic;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
*/
}
input, textarea{
	border: 1px solid rgba(100, 100, 100, 0.5);
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 4px;
	text-shadow: 1px 1px 2px white;
	font-family: 'Muli';
}
input:focus, textarea:focus {
	border: 1px solid rgba(100, 100, 100, 0.7);
	background-color: rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}
input.disabled{
	background-color: rgba(200, 200, 200, 0.8);
}
input.disabled:hover, input.disabled:focus  {
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}
a {
	color: rgba(0,0,150,1);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	text-shadow: 0 0 0 gray;
}
.float-right {
	float:right;	
}
.cache {
	display: none;
}
.actionMessage{
	border: 1px solid green;
	background-color: rgba(0, 255, 0, 0.1);
	color: green;
	list-style: none;
	font-weight: bold;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	padding: 5px;
	margin-bottom:10px;
}
.actionError{
	border: 1px solid red;
	background-color: rgba(255, 0, 0, 0.1);
	color: red;
	list-style: none;
	font-weight: bold;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	padding: 5px;
	margin-bottom:10px;
}
.errorLabel, .errorMessage {
	color: red;
}
.errorLabel {
	font-style: italic;
}
.tips {
	font-family: 'Cedarville Cursive', arial, serif;
	font-size: 32px;
	color: green;
	-moz-transform: rotate(-2deg);  
	-webkit-transform: rotate(-2deg);
	text-shadow: 2px 2px 2px silver;
	float: right; 	
}
.button {
	padding: 10px;
	margin-right:3px;
	width: 150px;
	float:right;
	background: rgba(220, 0, 0, 0.9) url(images/onglet_rendering.png) repeat-x 0 100%;
	border: 1px outset #444;
	border-bottom: 0;
	text-shadow: 1px 1px 1px #444;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity:0.8;
	-moz-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
	box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
	cursor: pointer;
}
.button:hover {
	opacity:1;
}
.rotate90 {
	-moz-transform: rotate(-90deg);  
	-webkit-transform: rotate(-90deg);	
}
#header{
	background: #002fa7 url(images/header_rendering.png) repeat-x 0 -100px;
	color: white;
}
#header a {
	color: white;
	text-decoration: none;
}
#header #title{
	font-family: 'Raleway';
	font-size: 38px;
	font-weight: normal;
	text-shadow: 2px 2px 0px black;
	letter-spacing: 0.05em;
	word-spacing: 0.3em;
	position: relative;
	top: 30px;
	left: 250px;
	width:380px;
/*
	-moz-transform: rotate(-1deg);  
	-webkit-transform: rotate(-1deg); 
*/
}

#header #title a{
	text-decoration: none;
	color: white;
}
#header .good {
	color: #ffa219;
	font-weight: 900;
}

#header #onglet-wrapper, #header #add-ad {
	width: 980px;
	margin: 0 auto;
}
#header #onglet-wrapper {
	clear: both;
	position: relative;
	top:36px;
}
#header #nav-steps {
	float:right;
}
#header #nav-login {
	float:right;
	margin-left:200px;
}

#header .onglet {
	float: right;
	padding: 10px;
	margin-right:3px;
	background: #ffa219 url(images/onglet_rendering.png) repeat-x 0 100%;
	border: 1px outset #444;
	border-bottom: 0;
	text-shadow: 1px 1px 1px #444;
	font-weight: bold;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	opacity:0.8;
	-moz-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
	box-shadow: 1px -1px 5px rgba(0,0,0,0.4);
	cursor: pointer;
}
#header .onglet:hover {
	opacity:1;
}
#header #nav-login .onglet{
	background-color: rgba(50, 50, 50, 0.9);
}
#header #nav-steps .onglet{
	background-color: rgba(255, 162, 25, 0.9);
	display: none;/* Don't display the steps onglet by default.. */
}
#header #login {
	position: absolute;
	top:25%;
	left:25%;
	right: 25%;
	border: 5px solid rgba(170, 170, 170, 0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px;
	width: 280px;
	background-color: rgba(230, 230, 230, 0.95);
	color: black;
	z-index: 11;
}
.close-button {
	float:right;
	cursor: pointer;
	color:gray;
	border:2px solid gray;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#header_l {
	background: transparent url(images/lionel_nob.png) no-repeat left 0px;
	
}
#header_r {
	background: transparent url(images/jesus_nob.png) no-repeat right 0px;
	height: 155px;
}
/*
#page_l {
	background: transparent url(images/lionel.png) no-repeat left 0px;
}
#page_r {
	background: transparent url(images/jesus.png) no-repeat right 0px;
}
*/
#page {
	width: 980px;
	margin: 30px auto;
	min-height: 400px;
}
#page #steps {
}
#page #steps h1 {
	font-weight: 600;
	border-bottom: 3px solid #002fa7;
	text-align: right;
	font-family: 'Raleway';
	color: #002fa7;
	text-shadow: 1px 1px white;
}
#page #account-ajax {
	float: left;
	width: 710px;
}
#page .menu-box {
	width: 250px;
	border: 1px solid grey;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color : rgba(240,240,240,0.9);
	float: right;
	margin-bottom: 20px;
}
#page .menu-box .thead {
	padding:10px;
	background: #002fa7 url(images/onglet_rendering.png) repeat-x 0 100%;
	border-bottom: 1px solid grey;
	text-shadow: 1px 1px 1px #555;
	text-align: center;
	color: white;
	font-weight: bold;
}
#page #account-menu ul {	
	padding: 0;
	padding-left: 20px;
	list-style-type: square;
	margin: 10px;
}

#page .annonce {
	width: 710px;
	float: left;	
}
#page .annonce .date{
	float: right;
	color: gray;
	font-style: italic;
	font-size: 13px;
}
#page .annonce .annonce-description {
	clear: both;
}
#page .annonce .annonce-price {
	float:right;
	border: 1px solid gray;
	background-color: rgba(255,255,255,0.9);
	padding: 5px;
}
#footer {
	clear: both;
	border-top:1px solid white;
	padding-top:20px;
	background: #ddd;
	font-size: 10px;
	color: grey;
	height:100px;
}
#footer .nav {
	width: 400px;
	margin: 0 auto;
}
#footer .nav .item{
	text-decoration: none;
	color: grey;
	float:left;
	background-color: rgba(0,0,0,0.1);
	padding:2px 4px 2px 4px;
	margin:0;
	border-left:1px solid #aaa;
}
#footer .nav .item:hover{
	background-color: rgba(0,0,0,0.05);
}
#footer .nav .first{
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-left:0px solid grey;
}
#footer .nav .last{
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
#indicator {
	position: absolute;
	top: 25%;
	left:25%;
	right:25%;
	margin: 0 auto;	
}
#overlay-popup {
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
		
}

.required{
	font-weight: bold;
}
